<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1 class="ku-recent-content-title"><f:translate key="moduleTitle" /></h1>
    <f:for each="{pages}" as="element">
        <f:render partial="PageList" arguments="{element: element}" />
    </f:for>
</f:section>

</html>